.qmake.stash
Makefile
*.o
libsimBubble.1.0.0.dylib
libsimBubble.1.0.dylib
libsimBubble.1.dylib
libsimBubble.dylib
libsimBubble.so
libsimBubble.so.1
libsimBubble.so.1.0
libsimBubble.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
release/
*.user
